table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  table, th, td {
    border: 1px solid #dee2e6;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    color: #495057;
  }
  
  th {
    background-color: #e9ecef;
    font-weight: bold;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f8f9fa;
  }
  
  button {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .btn-update {
  margin-right: 5px;
}

.btn-delete:hover {
  background-color: red;
  color: white;
}
  